h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-family: $font__heading-h1;
  font-size: $fs__title;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font__headings;
  font-weight: 600;
}

h2 {
  font-size: $fs__subtitle;
}

h3,
h4,
h5,
h6 {
  font-size: $fs__smalltitle;
}