$color__background: #eeeeee;
$color__headline: #0d0d0d;
$color__paragraph: #2a2a2a;
$color__paragraph-light: rgba(255, 255, 255, 1);
$color__background-dark: #1f1f1f;
// Buttons
$color__button: #ff6633;
$color__button-hover: #ff4b0f;
$color__button-text: #fffffe;
$color__button-text-dark: #0d0d0d;
$color__button-contact: #fffffe;
$color__button-contact-text: #ff6633;

$color__linear: linear-gradient(99.99deg, #ff6633 0.22%, #ffcc33 132.05%);
$color__stroke: #0d0d0d;
$color__main: #eff0f3;
$color__highlight: #ff6633;
$color__secondary: rgba(255, 255, 255, 1);
$color__tertiary: #d9376e;
$color__border: rgba(220, 220, 220, 0.8);
$color__background-light_orange: #ffd1c1;

$color__cards: #2f2f2f;
